@model IEnumerable<Portfolio.Models.Info>

<div class="right-image-post">
            <div class="row">

                <div class="col-md-8">
                    <div class="left-text">
                        <h4>Performance</h4>
                        <p>Rust is blazingly fast and memory-efficient: with no runtime or garbage collector,
                            it can power performance-critical services, run on embedded devices,
                            and easily integrate with other languages. </p>
                        <div class="white-button">
                            <a href="https://www.rust-lang.org/">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-image">
                        <img src="~/assets/images/rustinfo1.jpg" alt="rust-lang image" />
                    </div>
                </div>

            </div>
        </div>
        <div class="left-image-post">
            <div class="row">

                <div class="col-md-4">
                    <div class="left-image">
                        <img src="~/assets/images/rustinfo2.jpg" alt="another rust-lang image" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="right-text">
                        <h4>Reliability</h4>
                        <p>Rust’s rich type system and ownership model guarantee memory-safety and thread-safety —
                            enabling you to eliminate many classes of bugs at compile-time. </p>
                        <div class="white-button">
                            <a href="https://www.rust-lang.org/">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>